.App {
    /*text-align: center;*/
    display: flex;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.ReactTable .rt-thead {
    overflow-y: scroll;
}

.ReactTable .rt-td {
    overflow: visible;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.UserList {
    /*background-color: aqua;*/
    margin: 20px;
}

.UserView {
    /*background-color: red;*/
    display: flex;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
